<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/uriel-soberanes.jpg');"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Le réseau des medecins Tunisiens</h1>
      <h3>
        Trouvez le medecins le plus proche de chez vous, toutes spécialités
        confondues.
      </h3>
      <br /><br />

      <div class="col-md-10 ml-auto mr-auto">
        <div>
          <div class="card-content">
            <form method="" action="">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input
                      type="text"
                      value=""
                      placeholder="Nom du Docteur"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="input-group border-input">
                      <form>
                        <div class="form-group">
                          <select
                            name="ville"
                            style="width: 205px"
                            class="form-control"
                            data-style="btn-default btn-block btn-round"
                            data-menu-style="dropdown-blue"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="ville"
                          >
                            <option value="defaultville" selected
                              >--Ville--</option
                            >
                            <option value="ariana">Ariana</option>
                            <option value="beja">Beja</option>
                            <option value="benarous">Ben Arous</option>
                            <option value="bizerte">Bizerte</option>
                            <option value="gabes">Gabes</option>
                            <option value="gafsa">Gafsa</option>
                            <option value="jendouba">Jendouba</option>
                            <option value="kairouan">Kairouan</option>
                            <option value="kasserine">Kasserine</option>
                            <option value="kebili">Kebili</option>
                            <option value="lekef">Le Kef</option>
                            <option value="mahdia">Mahdia</option>
                            <option value="lamanouba">La Manouba</option>
                            <option value="medenine">Medenine</option>
                            <option value="monastir">Monastir</option>
                            <option value="nabeul">Nabeul</option>
                            <option value="sfax">Sfax</option>
                            <option value="sidibouzid">Sidi Bouzid</option>
                            <option value="siliana">Siliana</option>
                            <option value="sousse">Sousse</option>
                            <option value="tataouine">Tataouine</option>
                            <option value="tozeur">Tozeur</option>
                            <option value="tunis">Tunis</option>
                            <option value="zaghouane">Zaghouane</option>
                          </select>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="input-group border-input">
                      <form>
                        <div class="form-group">
                          <select
                            name="speciality"
                            style="width: 205px"
                            class="form-control"
                            data-style="btn-default btn-block btn-round"
                            data-menu-style="dropdown-blue"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="speciality"
                          >
                            <option value="defaultspeciality" selected
                              >--Spécialité--</option
                            >
                            <option value="Médecine Générale"
                              >Médecine Générale</option
                            >
                            <option
                              value="hirurgie orthopédique et traumatologique"
                              >Chirurgie orthopédique et traumatologique</option
                            >
                            <option value="Génétique">Génétique</option>
                            <option value="Dermatologie">Dermatologie</option>
                            <option value="Ophtalmologie">Ophtalmologie</option>
                            <option
                              value="Stomatologie et chirurgie maxillo-faciale"
                              >Stomatologie et chirurgie maxillo-faciale</option
                            >
                            <option
                              value="Biologie médicale option microbiologie"
                              >Biologie médicale option microbiologie</option
                            >
                            <option value="Oto-rhino-laryngologie"
                              >Oto-rhino-laryngologie
                            </option>
                            <option value="Chirurgie pédiatrique"
                              >Chirurgie pédiatrique
                            </option>
                            <option value="Oto-rhino-laryngologie"
                              >Oto-rhino-laryngologie</option
                            >
                            <option value="Cardiologie">Cardiologie</option>
                            <option value="Neurologie">Neurologie</option>
                            <option value="Chirurgie vasculaire périphérique"
                              >Chirurgie vasculaire périphérique</option
                            >
                            <option value="Imagerie médicale"
                              >Imagerie médicale
                            </option>
                            <option value="Pédiatrie">Pédiatrie</option>
                            <option value="Psychiatrie">Psychiatrie</option>
                            <option value="Médecine d'urgence"
                              >Médecine d'urgence</option
                            >
                            <option value="Radiothérapie carcinologique"
                              >Radiothérapie carcinologique</option
                            >
                            <option value="Réanimation médicale"
                              >Réanimation médicale</option
                            >
                            <option value="Hématologie clinique"
                              >Hématologie clinique
                            </option>
                            <option value="Anesthésie réanimation"
                              >Anesthésie réanimation
                            </option>
                            <option
                              value="Nutrition et maladies nutritionnelles"
                              >Nutrition et maladies nutritionnelles
                            </option>
                            <option value="Biophysique et médecine nucléaire"
                              >Biophysique et médecine nucléaire</option
                            >
                            <option
                              value="Chirurgie orthopédique et traumatologique"
                              >Chirurgie orthopédique et traumatologique</option
                            >
                            <option value="Endocrinologie"
                              >Endocrinologie</option
                            >
                            <option value="Biologie médicale option immunologie"
                              >Biologie médicale option immunologie</option
                            >
                            <option value="Rhumatologie">Rhumatologie</option>
                            <option value="Néphrologie">Néphrologie</option>
                            <option value="Anatomie et cytologie pathologique"
                              >Anatomie et cytologie pathologique</option
                            >
                            <option value="Radiothérapie carcinologique"
                              >Radiothérapie carcinologique</option
                            >
                            <option value="Chirurgie neurologique"
                              >Chirurgie neurologique</option
                            >
                            <option value="Pneumologie">Pneumologie</option>
                            <option
                              value="Médecine physique, rééducation et réadaptation
                            fonctionnelle"
                              >Médecine physique, rééducation et réadaptation
                              fonctionnelle</option
                            >
                            <option value="Gynécologie obstétrique"
                              >Gynécologie obstétrique</option
                            >
                            <option value="Gastro-entérologie"
                              >Gastro-entérologie</option
                            >
                            <option value="Chirurgie urologique"
                              >Chirurgie urologique</option
                            >
                            <option value="Chirurgie générale"
                              >Chirurgie générale</option
                            >
                            <option value="Maladies infectieuses"
                              >Maladies infectieuses</option
                            >
                            <option
                              value="Chirurgie plastique réparatrice et
                            esthétique"
                              >Chirurgie plastique réparatrice et
                              esthétique</option
                            >
                            <option value="Médecine interne"
                              >Médecine interne</option
                            >
                            <option
                              value="Biologie médicale option parasitologie"
                              >Biologie médicale option parasitologie</option
                            >
                          </select>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="search()"
                  >
                    recherche
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="../../assets/img/school.png" alt="..."
              /></a>
            </div>
            <br />
            <div class="card-block">
              <div class="author">
                <h4 class="card-title">
                  Vous voulez partager votre avis sur un docteur ?
                </h4>
                <br />
                <div class="mr-auto ml-auto">
                  <button
                    class="btn btn-danger btn-lg btn-fill"
                    [routerLink]="['/login']"
                  >
                    Connectez-vous!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
