<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/bruno-abatti.jpg');"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 ml-auto mr-auto">
          <div class="card card-register">
            <h3 class="title">Créer un compte</h3>
            <form class="register-form">
              <label>Nom Complet</label>
              <input
                type="text"
                [(ngModel)]="nomComplet"
                name="nomComplet"
                id="nomComplet"
                class="form-control"
                placeholder="Nom & Prénom"
                [ngModelOptions]="{ standalone: true }"
              />

              <label>Email</label>
              <input
                type="email"
                [(ngModel)]="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Email"
                [ngModelOptions]="{ standalone: true }"
              />

              <label>Mot de passe</label>
              <input
                type="password"
                [(ngModel)]="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Mot de passe"
                [ngModelOptions]="{ standalone: true }"
              />

              <label>Confirmez votre mot de passe</label>
              <input
                type="password"
                [(ngModel)]="password2"
                name="password2"
                id="password2"
                class="form-control"
                placeholder="Confirmez votre mot de passe"
                [ngModelOptions]="{ standalone: true }"
              />
              <button
                class="btn btn-danger btn-block btn-round"
                (click)="signUpUser()"
              >
                Inscrivez-vous
              </button>
            </form>
            <div class="forgot">
              <a [routerLink]="['/login']" class="btn btn-link btn-danger"
                >Déja membre ?</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
