<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg');"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="./assets/img/placeholder.jpg"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div>
        <div class="name">
          <h4 class="title">Nom & Prénom DR<br /></h4>
          <h6 class="description">Adresse</h6>
          <h6 class="description">Téléphone</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>Ville.</p>
          <br />
        </div>
      </div>
      <br />
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">
            <ngb-tab title="Commentaires :">
              <ng-template ngbTabContent>
                <div class="row following" id="follows">
                  <div class="col-md-10 ml-auto mr-auto">
                    <ul>
                      <li>
                        <div class="row">
                          <!-- starts here -->
                          <div class="media">
                            <a class="pull-left author" href="#">
                              <div class="avatar">
                                <img
                                  class="media-object"
                                  alt="placeholder.jpg"
                                  src="assets/img/placeholder.jpg"
                                />
                              </div>
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading">
                                Walid Braham <small>&middot; Yesterday</small>
                              </h4>
                              <p>
                                Hello guys, nice to have you on the platform!
                                There will be a lot of great stuff coming soon.
                                We will keep you posted for the latest news.
                              </p>
                            </div>
                          </div>
                          <!-- ends here -->
                        </div>
                      </li>
                      <hr />
                    </ul>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <div class="media media-post">
            <a class="pull-left author" href="#">
              <div class="avatar">
                <img
                  class="media-object"
                  alt="64x64"
                  src="assets/img/placeholder.jpg"
                />
              </div>
            </a>
            <div class="media-body">
              <textarea
                class="form-control border-input"
                placeholder="Ecrivez un message..."
                rows="6"
              ></textarea>
              <div class="media-footer">
                <a href="#paper-kit" class="btn btn-info btn-wd pull-right"
                  >Publier</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
